<nav style="display: flex; gap: 50px; background-color: #007bff; padding: 10px;">
  <a href="" routerLink="/" style="color: white; text-decoration: none; font-weight: bold;">Home</a>
  <a href="" routerLink="/about" style="color: white; text-decoration: none; font-weight: bold;">About</a>
  <a href="" routerLink="/services" style="color: white; text-decoration: none; font-weight: bold;">Services</a>
  <a href="" routerLink="/contact" style="color: white; text-decoration: none; font-weight: bold;">Contact</a>
</nav>


<ng-container *ngIf="categories.length > 0 ; else noData">
  <table class="table table-bordered table-hover my-5">
    <thead>
      <tr>
        <th class="bg-info">Name</th>
        <th class="bg-info">Item</th>
        <th class="bg-info">Quantity</th>
        <th class="bg-info">Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let category of categories">
        <td>{{category.name}}</td>
        <td>{{category.items}}</td>
        <td>{{category.quantity}}</td>
        <td>{{category.price}}</td>
      </tr>
    </tbody>
  </table>
</ng-container>


<ng-template #noData>
  <p>No products available.</p>
</ng-template>


<ng-container *ngFor="let users of user">
  <ng-container *ngIf="users.active">
    <p>{{ users.name }} is active</p>
  </ng-container>
</ng-container>


<ng-container *ngIf="toggle; else toggle1">
  <p>Toggle is ON</p>
</ng-container>

<ng-template #toggle1>
  <p>Toggle is OFF</p>
</ng-template>

<button (click)="OnToggle()" class="btn btn-danger">
  Toggle
</button>


<div class="my-5">
  <form action="" class="px-5" (ngSubmit)="onLogin()">
    <div class="form-group">
      <label for="">Username</label>
      <input type="text" name="Username" id="" class="form-control" [(ngModel)]="username" required>
    </div>
    <div class="form-group mt-3">
      <label for="">Password</label>
      <input type="text" name="Password" id="" class="form-control" [(ngModel)]="password" required>
    </div>
    <button class="btn btn-primary float-end mt-3">Submit</button>

    <ng-container *ngIf="errormessage">
      <div class="alert alert-danger">
        {{errormessage}}
      </div>
    </ng-container>
    <ng-container *ngIf="isAuth">
      <div class="alert alert-success">
        Login Successfully!
      </div>
    </ng-container>
  </form>
</div>



<h3 >Users List</h3>
<ng-container>
  <table class="table table-bordered table-hover my-5">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Website</th>
        <th>
          Company
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>
          {{user.name}}
        </td>
        <td>
          {{user.email}}
        </td>
        <td>
          {{user.phone}}
        </td>
        <td>{{ user.website }}</td>
        <td>
          {{user.company.name}}
        </td>
      </tr>
    </tbody>
  </table>
</ng-container>